@using System.Web.Mvc.Html
@using MvcApplication1.Models
@model MvcApplication1.Models.Ticket


@{
    ViewBag.Title = "CreateTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>CreateTicket</h2>
@using (Html.BeginForm("AddTicket","Home",FormMethod.Post))
{
    <fieldset style="width:50%">
        <legend>Ticket</legend>
        <div>
            
            @Html.LabelFor(model => model.Estado)
            @{
                List<Estados> liE = new List<Estados>();
                EntornosDAO eDAO = new EntornosDAO();
                liE = eDAO.GetEstados();
            }
            @Html.DropDownList("Estados", new SelectList(liE, "EstadoId", "EstadoDescripcion"))
            @Html.LabelFor(model => model.Prioridad)
            @{
                List<Prioridades> liP = new List<Prioridades>();
                liP = eDAO.GetPrioridades();
            }
            @Html.DropDownList("Prioridades", new SelectList(liP, "PrioridadId", "PrioridadDescripcion"))
            @Html.Label("Usuario Asignado")
            @{
                List<Usuario> liU = new List<Usuario>();
                UsuarioDAO uDAO = new UsuarioDAO();
                liU = uDAO.GetAlumnos();
            }
            @Html.DropDownList("Usuarios", new SelectList(liU, "usuarioId", "usuario"))
        </div>
        <div>
            @Html.Label("Titulo del Tikcket")
            @Html.TextBoxFor(model=>model.TicketDescripcion)
        </div>
        <div>
            @Html.TextArea("Observaciones",new { rows=10, columns=70,style="resize:none;width:100%" })
        </div>
        <input id="submit" name="submit" type="submit" value="Submit" />
    </fieldset>
  
    
        
}

