@using System.Web.Mvc.Html
@using MvcApplication1.Models
@model MvcApplication1.Models.Ticket

@{
    ViewBag.Title = "Editar Ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <div class="special">
       @Html.LabelFor(model=>model.TicketId)
        @Html.DisplayTextFor(model=>model.TicketId)
       @Html.LabelFor(model=>model.EstadoDescripcion)
        @Html.DisplayTextFor(model=>model.EstadoDescripcion)
          @Html.LabelFor(model=>model.Usuario)
        @Html.DisplayTextFor(model=>model.UsuarioDescripcion)
          @Html.LabelFor(model=>model.UsuarioAsignado)
        @Html.DisplayTextFor(model=>model.UsuarioAsignadoDescripcion)
        
        
        @{
                var grid = new WebGrid(source: Model.TicketDetalle, canPage: true, rowsPerPage: 10);
                @grid.GetHtml(htmlAttributes: new { id = "DataTable" }, 
columns: grid.Columns(
       grid.Column("UsuarioDetalle"),grid.Column("Observaciones")
        ))
        }
        
        @Html.TextArea("Detalle",new { rows=10, columns=100,style="resize:none;width:400px" })
    </div>
    <h2>title</h2>

}
